{% extends "index.twig" %}

{% block main %}
    <div class="periodeContainer">
        <div class="periodeHeader">
            <h1>PERIODES - {{ periode.title }}</h1>
            <button class="printButton">PRINTEN</button>
        </div>

         <div class="techlogsContainer">
            {% for techlog in techlogs %}
                <div class="techlog">
                    <table>
                        <tr>
                            <td>{{techlog.title}} - {{ techlog.klant }}</td>
                            <td>{{ techlog.datum }}</td>
                        <tr>
                        <tr>
                            <td>Startuur</td>
                            <td>{{techlog.startuur}} </td>
                        <tr>
                        <tr>
                            <td>Einduur</td>
                            <td>{{techlog.einduur}}</td>
                        <tr>
                        <tr>
                            <td>Afstand</td>
                            <td>{{techlog.afstand}}</td>
                        <tr>
                        <tr>
                            <td>Activiteiten</td>
                            <td>   
                                {% for activiteit in techlog.activiteit %}
                                    {{ activiteit }}
                                {% endfor %}

                            </td>
                        <tr>
                        <tr>
                            <td>Gereedschappen</td>
                            <td>
                                {% for gereedschap in techlog.gereedschap %}
                                    {{ gereedschap}}
                                {% endfor %}
                            </td>
                        <tr>
                    </table>
                </div>
            {% endfor %}
        </div>

        <div class="commentForm">
            <form action="{{ action }}" method="POST">
                <input type="hidden" name="action" value="your_action_name">
                <input type="hidden" name="id" value="{{ periode.id }}">
                <input type="hidden" name="ids" value="{{ techlog_ids }}">

                <label class="comment-form-group">
                    <input class="comment-form-control" name="comment" value="">
                    <span for="">COMMENTAAR</span>
                    <span class="border"></span>
                </label>

                <input class="ondertekenButton" type="submit" name="submit" value="ondertekenen">
            </form>
        </div>
    </div>

{% endblock %}